# Project 2 - Ames Housing Data and Kaggle Challenge - Cleaning
## Matt Reed / DSI-124

In [401]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [402]:
def dummy_corr(column_name, dataframe, target_name):
    return dataframe[column_name].str.get_dummies().join(dataframe[target_name]).corr()[target_name].sort_values(ascending=False)[1:]

In [403]:
# Approach found at https://stackoverflow.com/questions/952914/how-to-make-a-flat-list-out-of-a-list-of-lists
def flatten(t):
    return [item for sublist in t for item in sublist]

In [404]:
df_train = pd.read_csv('../datasets/train.csv')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2051 non-null   int64
 1   PID              2051 non-null   int64
 2   MS SubClass      2051 non-null   int64
 3   MS Zoning        2051 non-null   object
 4   Lot Frontage     1721 non-null   float64
 5   Lot Area         2051 non-null   int64
 6   Street           2051 non-null   object
 7   Alley            140 non-null    object
 8   Lot Shape        2051 non-null   object
 9   Land Contour     2051 non-null   object
 10  Utilities        2051 non-null   object
 11  Lot Config       2051 non-null   object
 12  Land Slope       2051 non-null   object
 13  Neighborhood     2051 non-null   object
 14  Condition 1      2051 non-null   object
 15  Condition 2      2051 non-null   object
 16  Bldg Type        2051 non-null   object
 17  House Style      2051 non-null   object
 18  Overall Qual     2051 non-null   int64
 19  Overall Cond     2051 non-null   int64
 20  Year Built       2051 non-null   int64
 21  Year Remod/Add   2051 non-null   int64
 22  Roof Style       2051 non-null   object
 23  Roof Matl        2051 non-null   object
 24  Exterior 1st     2051 non-null   object
 25  Exterior 2nd     2051 non-null   object
 26  Mas Vnr Type     2029 non-null   object
 27  Mas Vnr Area     2029 non-null   float64
 28  Exter Qual       2051 non-null   object
 29  Exter Cond       2051 non-null   object
 30  Foundation       2051 non-null   object
 31  Bsmt Qual        1996 non-null   object
 32  Bsmt Cond        1996 non-null   object
 33  Bsmt Exposure    1993 non-null   object
 34  BsmtFin Type 1   1996 non-null   object
 35  BsmtFin SF 1     2050 non-null   float64
 36  BsmtFin Type 2   1995 non-null   object
 37  BsmtFin SF 2     2050 non-null   float64
 38  Bsmt Unf SF      2050 non-null   float64
 39  Total Bsmt SF    2050 non-null   float64
 40  Heating          2051 non-null   object
 41  Heating QC       2051 non-null   object
 42  Central Air      2051 non-null   object
 43  Electrical       2051 non-null   object
 44  1st Flr SF       2051 non-null   int64
 45  2nd Flr SF       2051 non-null   int64
 46  Low Qual Fin SF  2051 non-null   int64
 47  Gr Liv Area      2051 non-null   int64
 48  Bsmt Full Bath   2049 non-null   float64
 49  Bsmt Half Bath   2049 non-null   float64
 50  Full Bath        2051 non-null   int64
 51  Half Bath        2051 non-null   int64
 52  Bedroom AbvGr    2051 non-null   int64
 53  Kitchen AbvGr    2051 non-null   int64
 54  Kitchen Qual     2051 non-null   object
 55  TotRms AbvGrd    2051 non-null   int64
 56  Functional       2051 non-null   object
 57  Fireplaces       2051 non-null   int64
 58  Fireplace Qu     1051 non-null   object
 59  Garage Type      1938 non-null   object
 60  Garage Yr Blt    1937 non-null   float64
 61  Garage Finish    1937 non-null   object
 62  Garage Cars      2050 non-null   float64
 63  Garage Area      2050 non-null   float64
 64  Garage Qual      1937 non-null   object
 65  Garage Cond      1937 non-null   object
 66  Paved Drive      2051 non-null   object
 67  Wood Deck SF     2051 non-null   int64
 68  Open Porch SF    2051 non-null   int64
 69  Enclosed Porch   2051 non-null   int64
 70  3Ssn Porch       2051 non-null   int64
 71  Screen Porch     2051 non-null   int64
 72  Pool Area        2051 non-null   int64
 73  Pool QC          9 non-null      object
 74  Fence            400 non-null    object
 75  Misc Feature     65 non-null     object
 76  Misc Val         2051 non-null   int64
 77  Mo Sold          2051 non-null   int64
 78  Yr Sold          2051 non-null   int64
 79  Sale Type        2051 non-null   object
 80  SalePrice        2051 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [405]:
# MS SubClass uses numbers for labels; should not be treated as str
df_train['MS SubClass'] = df_train['MS SubClass'].astype(str)

In [406]:
# Looking at null values
df_train.isnull().sum().sort_values(ascending=False)

Pool QC         2042
Misc Feature    1986
Alley           1911
Fence           1651
Fireplace Qu    1000
                ...
Heating QC         0
Central Air        0
Electrical         0
1st Flr SF         0
SalePrice          0
Length: 81, dtype: int64

In [407]:
# Realized that Year Sold was obfuscated by being treated as an integer
df_train['Yr Sold'] = df_train['Yr Sold'].astype(str)
df_train['Mo Sold'] = df_train['Mo Sold'].astype(str)

In [408]:
df_train.select_dtypes(include=['object']).describe().transpose()

               count unique      top  freq
MS SubClass     2051     16       20   770
MS Zoning       2051      7       RL  1598
Street          2051      2     Pave  2044
Alley            140      2     Grvl    85
Lot Shape       2051      4      Reg  1295
Land Contour    2051      4      Lvl  1843
Utilities       2051      3   AllPub  2049
Lot Config      2051      5   Inside  1503
Land Slope      2051      3      Gtl  1953
Neighborhood    2051     28    NAmes   310
Condition 1     2051      9     Norm  1767
Condition 2     2051      8     Norm  2025
Bldg Type       2051      5     1Fam  1700
House Style     2051      8   1Story  1059
Roof Style      2051      6    Gable  1619
Roof Matl       2051      6  CompShg  2025
Exterior 1st    2051     15  VinylSd   724
Exterior 2nd    2051     15  VinylSd   721
Mas Vnr Type    2029      4     None  1218
Exter Qual      2051      4       TA  1247
Exter Cond      2051      5       TA  1778
Foundation      2051      6    PConc   926
Bsmt Qual       1996      5       TA   887
Bsmt Cond       1996      5       TA  1834
Bsmt Exposure   1993      4       No  1339
BsmtFin Type 1  1996      6      GLQ   615
BsmtFin Type 2  1995      6      Unf  1749
Heating         2051      5     GasA  2018
Heating QC      2051      5       Ex  1065
Central Air     2051      2        Y  1910
Electrical      2051      5    SBrkr  1868
Kitchen Qual    2051      4       TA  1047
Functional      2051      8      Typ  1915
Fireplace Qu    1051      5       Gd   523
Garage Type     1938      6   Attchd  1213
Garage Finish   1937      3      Unf   849
Garage Qual     1937      5       TA  1832
Garage Cond     1937      5       TA  1868
Paved Drive     2051      3        Y  1861
Pool QC            9      4       Gd     4
Fence            400      4    MnPrv   227
Misc Feature      65      5     Shed    56
Mo Sold         2051     12        6   352
Yr Sold         2051      5     2007   498
Sale Type       2051      9      WD   1781

In [409]:
df_train['Yr Sold'].describe()

count     2051
unique       5
top       2007
freq       498
Name: Yr Sold, dtype: object

In [410]:
dummy_corr('MS SubClass', df_train, 'SalePrice').max()

0.3554214620632621

In [411]:
df_train.select_dtypes(include=['object']).columns

Index(['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Lot Shape',
       'Land Contour', 'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood',
       'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond',
       'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating',
       'Heating QC', 'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 'Misc Feature',
       'Mo Sold', 'Yr Sold', 'Sale Type'],
      dtype='object')

In [412]:
# Creating a list of the highest correlations based on dummifying categorical variables in my dataframe
categorical_corr = [(column_name, 
                     dummy_corr(column_name, df_train, 'SalePrice').max(), 
                     dummy_corr(column_name, df_train, 'SalePrice').min(), 
                     dummy_corr(column_name, df_train, 'SalePrice').max() - dummy_corr(column_name, df_train, 'SalePrice').min()) 
 for column_name 
 in df_train.select_dtypes(include=['object']).columns]

In [413]:
# Sort approach found on https://pythonguides.com/python-sort-list-of-tuples/
cat_corr_diff = categorical_corr.copy()

cat_corr_diff.sort(reverse=True, key= lambda x: x[3])
cat_corr_diff[:]

[('Exter Qual', 0.49386101668262256, -0.6003620438785177, 1.0942230605611403),
 ('Kitchen Qual', 0.5512844949973896, -0.540860057110634, 1.0921445521080235),
 ('Bsmt Qual', 0.586497229460346, -0.45697898944878185, 1.0434762189091278),
 ('Foundation', 0.5290468529844157, -0.35553521520011966, 0.8845820681845353),
 ('Garage Finish',
  0.4229363608708119,
  -0.43222009547586315,
  0.855156456346675),
 ('Heating QC', 0.4532553529286872, -0.3435415579170743, 0.7967969108457615),
 ('Mas Vnr Type', 0.31002603603789, -0.4240875482859905, 0.7341135843238804),
 ('Garage Type', 0.35787902815727923, -0.3703444386576489, 0.7282234668149281),
 ('Bsmt Exposure',
  0.3770317587162424,
  -0.2931059611409868,
  0.6701377198572291),
 ('Neighborhood', 0.4486468134029907, -0.2083710127541118, 0.6570178261571025),
 ('BsmtFin Type 1',
  0.4635488990371277,
  -0.15091467927234825,
  0.614463578309476),
 ('MS SubClass', 0.3554214620632621, -0.24853416697324687, 0.6039556290365089),
 ('Lot Shape', 0.2735744444208477, -0.306290826001016, 0.5798652704218636),
 ('Sale Type', 0.35810196911735687, -0.21254174769346018, 0.570643716810817),
 ('Paved Drive', 0.2892096014539491, -0.27361254693516707, 0.5628221483891162),
 ('Central Air',
  0.27737780614516555,
  -0.27737780614516583,
  0.5547556122903314),
 ('Exterior 1st',
  0.3421455585593899,
  -0.19173446228826763,
  0.5338800208476575),
 ('Roof Style', 0.26522418680156506, -0.24932901330452864, 0.5145532001060937),
 ('MS Zoning', 0.23146818258809063, -0.2819514318924289, 0.5134196144805195),
 ('Exterior 2nd',
  0.3375625324636546,
  -0.17297100263170984,
  0.5105335350953644),
 ('Electrical',
  0.25404434643134244,
  -0.20120633652149508,
  0.45525068295283755),
 ('Fireplace Qu',
  0.38473214276053636,
  -0.06598356800263537,
  0.45071571076317174),
 ('Garage Qual',
  0.24977347355023882,
  -0.16813394352842906,
  0.41790741707866785),
 ('Garage Cond', 0.2718464452332361, -0.1431760730615696, 0.4150225182948057),
 ('House Style', 0.20191126665443404, -0.195802584088911, 0.39771385074334503),
 ('Land Contour',
  0.21224514191683969,
  -0.09814283271293367,
  0.31038797462977336),
 ('Exter Cond',
  0.12201440972201857,
  -0.15589901221140523,
  0.27791342193342383),
 ('Bsmt Cond', 0.11423312718254042, -0.14347185962094355, 0.25770498680348397),
 ('Lot Config', 0.16243059023438997, -0.0821935556303206, 0.24462414586471057),
 ('Condition 1',
  0.11135970035835958,
  -0.12503031310249857,
  0.23639001346085814),
 ('Bldg Type', 0.10570537457013836, -0.11389516973744995, 0.2196005443075883),
 ('Functional',
  0.11768167700802756,
  -0.06965216949929791,
  0.18733384650732549),
 ('Roof Matl', 0.09852735428656845, -0.06910826711093254, 0.167635621397501),
 ('Heating', 0.09402713158457815, -0.07254919889999556, 0.1665763304845737),
 ('BsmtFin Type 2',
  0.11393708874016911,
  -0.04847055612592388,
  0.162407644866093),
 ('Condition 2',
  0.10345896796563807,
  -0.048455323655219436,
  0.1519142916208575),
 ('Alley', -0.014528014035644474, -0.159108572057453, 0.14458055802180853),
 ('Street', 0.06984144401803448, -0.06984144401803422, 0.1396828880360687),
 ('Fence', -0.011636359764908373, -0.1504423632938007, 0.13880600352889233),
 ('Land Slope',
  0.061910167604113955,
  -0.06260358852982964,
  0.1245137561339436),
 ('Mo Sold', 0.03731462015996704, -0.07448369084736924, 0.11179831100733628),
 ('Utilities', 0.03308281325300227, -0.0345191170213116, 0.06760193027431387),
 ('Misc Feature',
  0.019101385516955935,
  -0.04741899364544974,
  0.06652037916240568),
 ('Yr Sold', 0.02897736506149344, -0.03301382386082486, 0.0619911889223183),
 ('Pool QC', 0.03721877428882015, -0.0157591976463488, 0.052977971935168955)]

In [414]:
categorical_corr.copy().sort(reverse=True, key= lambda x: x[2])

In [415]:
df_train.nunique().sort_values()[:20]

Central Air       2
Street            2
Alley             2
Paved Drive       3
Half Bath         3
Garage Finish     3
Utilities         3
Bsmt Half Bath    3
Land Slope        3
Bsmt Full Bath    4
Mas Vnr Type      4
Kitchen AbvGr     4
Exter Qual        4
Land Contour      4
Lot Shape         4
Pool QC           4
Bsmt Exposure     4
Fence             4
Kitchen Qual      4
Heating           5
dtype: int64

In [416]:
corr_price = df_train.corr()['SalePrice']
corr_price_sorted = corr_price[:-1].sort_values(ascending=False)
corr_price_sorted

Overall Qual       0.800207
Gr Liv Area        0.697038
Garage Area        0.650270
Garage Cars        0.648220
Total Bsmt SF      0.628925
1st Flr SF         0.618486
Year Built         0.571849
Year Remod/Add     0.550370
Full Bath          0.537969
Garage Yr Blt      0.533922
Mas Vnr Area       0.512230
TotRms AbvGrd      0.504014
Fireplaces         0.471093
BsmtFin SF 1       0.423519
Lot Frontage       0.341842
Open Porch SF      0.333476
Wood Deck SF       0.326490
Lot Area           0.296566
Bsmt Full Bath     0.283662
Half Bath          0.283001
2nd Flr SF         0.248452
Bsmt Unf SF        0.190210
Bedroom AbvGr      0.137067
Screen Porch       0.134581
3Ssn Porch         0.048732
Pool Area          0.023106
BsmtFin SF 2       0.016255
Misc Val          -0.007375
Low Qual Fin SF   -0.041594
Bsmt Half Bath    -0.045328
Id                -0.051398
Overall Cond      -0.097019
Kitchen AbvGr     -0.125444
Enclosed Porch    -0.135656
PID               -0.255052
Name: SalePrice, dtype: float64

Features of Interest:

In [417]:
corr_top = list(corr_price_sorted[corr_price_sorted > .5].index.values)
corr_top

['Overall Qual',
 'Gr Liv Area',
 'Garage Area',
 'Garage Cars',
 'Total Bsmt SF',
 '1st Flr SF',
 'Year Built',
 'Year Remod/Add',
 'Full Bath',
 'Garage Yr Blt',
 'Mas Vnr Area',
 'TotRms AbvGrd']

In [418]:
cat_corr_top = [variable for variable, high, low, diff in categorical_corr if diff > .5]
cat_corr_top

['MS SubClass',
 'MS Zoning',
 'Lot Shape',
 'Neighborhood',
 'Roof Style',
 'Exterior 1st',
 'Exterior 2nd',
 'Mas Vnr Type',
 'Exter Qual',
 'Foundation',
 'Bsmt Qual',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'Heating QC',
 'Central Air',
 'Kitchen Qual',
 'Garage Type',
 'Garage Finish',
 'Paved Drive',
 'Sale Type']

In [419]:
list_of_lists = [['Id'], corr_top, cat_corr_top, ['Mo Sold', 'Yr Sold'], ['SalePrice']]
columns_of_interest = flatten(list_of_lists)

In [420]:
columns_of_interest

['Id',
 'Overall Qual',
 'Gr Liv Area',
 'Garage Area',
 'Garage Cars',
 'Total Bsmt SF',
 '1st Flr SF',
 'Year Built',
 'Year Remod/Add',
 'Full Bath',
 'Garage Yr Blt',
 'Mas Vnr Area',
 'TotRms AbvGrd',
 'MS SubClass',
 'MS Zoning',
 'Lot Shape',
 'Neighborhood',
 'Roof Style',
 'Exterior 1st',
 'Exterior 2nd',
 'Mas Vnr Type',
 'Exter Qual',
 'Foundation',
 'Bsmt Qual',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'Heating QC',
 'Central Air',
 'Kitchen Qual',
 'Garage Type',
 'Garage Finish',
 'Paved Drive',
 'Sale Type',
 'Mo Sold',
 'Yr Sold',
 'SalePrice']

In [421]:
# Pair down dataframe to columns of interest
df_reduced = df_train[columns_of_interest]

In [422]:
df_test = pd.read_csv('../datasets/test.csv')
df_test_reduced = df_test[columns_of_interest[:-1]]

In [423]:
df_reduced.columns

Index(['Id', 'Overall Qual', 'Gr Liv Area', 'Garage Area', 'Garage Cars',
       'Total Bsmt SF', '1st Flr SF', 'Year Built', 'Year Remod/Add',
       'Full Bath', 'Garage Yr Blt', 'Mas Vnr Area', 'TotRms AbvGrd',
       'MS SubClass', 'MS Zoning', 'Lot Shape', 'Neighborhood', 'Roof Style',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Foundation', 'Bsmt Qual', 'Bsmt Exposure', 'BsmtFin Type 1',
       'Heating QC', 'Central Air', 'Kitchen Qual', 'Garage Type',
       'Garage Finish', 'Paved Drive', 'Sale Type', 'Mo Sold', 'Yr Sold',
       'SalePrice'],
      dtype='object')

In [425]:
df_test_reduced.columns

Index(['Id', 'Overall Qual', 'Gr Liv Area', 'Garage Area', 'Garage Cars',
       'Total Bsmt SF', '1st Flr SF', 'Year Built', 'Year Remod/Add',
       'Full Bath', 'Garage Yr Blt', 'Mas Vnr Area', 'TotRms AbvGrd',
       'MS SubClass', 'MS Zoning', 'Lot Shape', 'Neighborhood', 'Roof Style',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Foundation', 'Bsmt Qual', 'Bsmt Exposure', 'BsmtFin Type 1',
       'Heating QC', 'Central Air', 'Kitchen Qual', 'Garage Type',
       'Garage Finish', 'Paved Drive', 'Sale Type', 'Mo Sold', 'Yr Sold'],
      dtype='object')

In [426]:
# Want to include Month and Year Sold
modified_cat_corr_top = cat_corr_top.copy()
modified_cat_corr_top.append('Mo Sold')
modified_cat_corr_top

['MS SubClass',
 'MS Zoning',
 'Lot Shape',
 'Neighborhood',
 'Roof Style',
 'Exterior 1st',
 'Exterior 2nd',
 'Mas Vnr Type',
 'Exter Qual',
 'Foundation',
 'Bsmt Qual',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'Heating QC',
 'Central Air',
 'Kitchen Qual',
 'Garage Type',
 'Garage Finish',
 'Paved Drive',
 'Sale Type',
 'Mo Sold']

In [427]:
# Dummify categorical variables
df_reduced = pd.get_dummies(df_reduced, columns=modified_cat_corr_top, drop_first=True)

df_reduced

,Id,Overall Qual,Gr Liv Area,Garage Area,Garage Cars,Total Bsmt SF,1st Flr SF,Year Built,Year Remod/Add,Full Bath,...,Mo Sold_11,Mo Sold_12,Mo Sold_2,Mo Sold_3,Mo Sold_4,Mo Sold_5,Mo Sold_6,Mo Sold_7,Mo Sold_8,Mo Sold_9
0,109,6,1479,475.0,2.0,725.0,725,1976,2005,2,...,0,0,0,1,0,0,0,0,0,0
1,544,7,2122,559.0,2.0,913.0,913,1996,1997,2,...,0,0,0,0,1,0,0,0,0,0
2,153,5,1057,246.0,1.0,1057.0,1057,1953,2007,1,...,0,0,0,0,0,0,0,0,0,0
3,318,5,1444,400.0,2.0,384.0,744,2006,2007,2,...,0,0,0,0,1,0,0,0,0,0
4,255,6,1445,484.0,2.0,676.0,831,1900,1993,2,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,8,1728,520.0,2.0,1884.0,1728,2007,2007,2,...,0,0,0,0,0,0,0,0,0,0
2047,785,4,861,539.0,2.0,861.0,861,1940,1950,1,...,0,0,0,1,0,0,0,0,0,0
2048,916,6,1913,342.0,2.0,896.0,1172,1928,1950,1,...,0,0,0,1,0,0,0,0,0,0
2049,639,4,1200,294.0,1.0,1200.0,1200,1956,1956,1,...,1,0,0,0,0,0,0,0,0,0
2050,10,7,1804,442.0,2.0,994.0,1028,1999,1999,2,...,0,0,0,0,0,0,1,0,0,0

In [428]:
# Dummify test dataframe identically to main dataframe
df_test_reduced = pd.get_dummies(df_test_reduced, columns=cat_corr_top, drop_first=True)

In [429]:
# Approach found at https://stackoverflow.com/questions/41335718/keep-same-dummy-variable-in-training-and-testing-data

# Get missing columns in the training test
missing_cols = set(df_reduced.columns) - set(df_test_reduced.columns)
# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    df_test_reduced[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
df_test_reduced = df_test_reduced[df_reduced.columns]

In [430]:
df_test_reduced

,Id,Overall Qual,Gr Liv Area,Garage Area,Garage Cars,Total Bsmt SF,1st Flr SF,Year Built,Year Remod/Add,Full Bath,...,Mo Sold_11,Mo Sold_12,Mo Sold_2,Mo Sold_3,Mo Sold_4,Mo Sold_5,Mo Sold_6,Mo Sold_7,Mo Sold_8,Mo Sold_9
0,2658,6,1928,440,1,1020,908,1910,1950,2,...,0,0,0,0,0,0,0,0,0,0
1,2718,5,1967,580,2,1967,1967,1977,1977,2,...,0,0,0,0,0,0,0,0,0,0
2,2414,7,1496,426,2,654,664,2006,2006,2,...,0,0,0,0,0,0,0,0,0,0
3,1989,5,968,480,2,968,968,1923,2006,1,...,0,0,0,0,0,0,0,0,0,0
4,625,6,1394,514,2,1394,1394,1963,1963,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,6,1877,488,2,1084,1084,1974,1974,2,...,0,0,0,0,0,0,0,0,0,0
874,1234,6,1988,480,2,1104,1104,1966,1999,2,...,0,0,0,0,0,0,0,0,0,0
875,1373,5,1211,322,1,952,1211,1968,1968,1,...,0,0,0,0,0,0,0,0,0,0
876,1672,4,864,528,2,864,864,1971,1971,1,...,0,0,0,0,0,0,0,0,0,0
877,1939,5,925,390,1,923,925,1955,1955,1,...,0,0,0,0,0,0,0,0,0,0

In [431]:
# Relatively small number of null values
df_reduced.isnull().sum().sum()/len(df_reduced.index)

0.06777181862506095

In [432]:
df_reduced.dropna(inplace=True)

In [433]:
df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1915 entries, 0 to 2050
Columns: 158 entries, Id to Mo Sold_9
dtypes: float64(5), int64(9), object(1), uint8(143)
memory usage: 506.8+ KB

In [434]:
df_reduced.to_csv('../datasets/filtered_dataset.csv', index=False)

In [435]:
df_test_reduced.to_csv('../datasets/filtered_test_dataset.csv', index=False)